<section class="l-chooseTicket">
  <div class="container">

    <div class="chooseTicket">

      <h2 class="reserveTicketWizard-content-title">اختر تذكرتك</h2>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="chooseTicket-card">

            <div class="chooseTicket-details">
              <h3 class="chooseTicket-title">تذكرة فضية</h3>
              <p class="chooseTicket-label">تذكرة دخول المباراة</p>
              <p class="chooseTicket-price"><span class="num">30</span>  ريال</p>

              <hr class="chooseTicket-divider divider-dashed">

              <div class="chooseTicket-counter">
                <span class="chooseTicket-plus"><i class="fas fa-plus"></i></span>
                <span class="chooseTicket-count">2</span>
                <span class="chooseTicket-minus"><i class="fas fa-minus"></i></span>
              </div>

            </div>

          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="chooseTicket-card">

            <div class="chooseTicket-details">
              <h3 class="chooseTicket-title">تذكرة برونزية</h3>
              <p class="chooseTicket-label">تذكرة دخول المباراة</p>
              <p class="chooseTicket-price"><span class="num">30</span>  ريال</p>

              <hr class="chooseTicket-divider divider-dashed">

              <div class="chooseTicket-counter">
                <span class="chooseTicket-plus"><i class="fas fa-plus"></i></span>
                <span class="chooseTicket-count">2</span>
                <span class="chooseTicket-minus"><i class="fas fa-minus"></i></span>
              </div>

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
