<h2 class="reserveTicketWizard-content-title mb-5"> الدفع
</h2>

<h4 class="ticketPayment-title">اختر طريقة الدفع
</h4>
<div class="row mb-5">
  <div class="col-12 col-md-6">
    <div class="ticketPayment-radio custom-control custom-checkbox">
      <input type="radio" name="payment" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">
        <h3 class="ticketPayment-radio-text">بطاقات الائتمان
        </h3>
        <div class="ticketPayment-radio-images">
          <img src="assets/images/icons/Master-card.svg" alt="" class="image">
          <img src="assets/images/icons/Mada.svg" alt="" class="image">
          <img src="assets/images/icons/Visa.svg" alt="" class="image">
        </div>
      </label>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="ticketPayment-radio custom-control custom-checkbox">
      <input type="radio" name="payment" class="custom-control-input" id="customCheck3">
      <label class="custom-control-label" for="customCheck3">
        <h3 class="ticketPayment-radio-text">ابل بي

        </h3>
        <div class="ticketPayment-radio-images">
          <img src="assets/images/icons/Apple.svg" alt="" class="image">
        </div>
      </label>
    </div>
  </div>

</div>
