 <h3 class="reserveTicketWizard-content-title">
   معلوماتك
 </h3>
 <div class="row mb-4">
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">الاسم الأول </label>
       <input type="text" class="form-control" aria-label="name">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">الاسم الأخير </label>
       <input type="text" class="form-control" aria-label="name">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">البريد الإلكتروني</label>
       <input type="email" class="form-control is-invalid" aria-label="email">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">البريد الإلكتروني</label>
       <input type="email" class="form-control is-invalid" aria-label="email">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
 </div>


 
 <div class="row">
   <div class="col-12 col-md-6 mb-3">
     <h3 class="reserveTicketWizard-content-title text-dark">
       معلومات الزوار
     </h3>
   </div>
   <div class="col-12 col-md-6 text-left text-md-right">
     <div class="custom-control custom-checkbox">
       <input type="checkbox" class="custom-control-input" id="customCheck1">
       <label class="custom-control-label" for="customCheck1">استخدام معلومات الزوار كمعلوماتي
    </label>
     </div>
   </div>
 </div>
 <div class="row mb-4">
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">الاسم الأول </label>
       <input type="text" class="form-control" aria-label="name">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 ">
     <div class="form-group">
       <label for="">الاسم الأخير </label>
       <input type="text" class="form-control" aria-label="name">
       <div class="invalid-feedback">
         هذا الحقل مطلوب
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 ">
    <div class="form-group">
      <label for="">البريد الإلكتروني</label>
      <input type="email" class="form-control is-invalid" aria-label="email">
      <div class="invalid-feedback">
        هذا الحقل مطلوب
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 ">
    <div class="form-group">
      <label for="">البريد الإلكتروني</label>
      <input type="email" class="form-control is-invalid" aria-label="email">
      <div class="invalid-feedback">
        هذا الحقل مطلوب
      </div>
    </div>
  </div>
 </div>
  