<section class="l-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 ">
        <div class="block">

          <div class="row mb-5">
            <div class="col-12 col-md-5 mb-3 text-center">
              <img src="assets/images/ticket/ticket-done.PNG" alt="">
            </div>
            <div class="col-12 col-md-5 pt-0 pt-md-5">
              <h2 class="block-title">
                تم شراء تذكرتك بنجاح

              </h2>
              <p class="block-desc">
                تفاصيل التذكرة تم إرسالها على بريدك المسجل

              </p>
            </div>
          </div>


          <div class="myTicket-wrapper">
            <div class="myTicket">
              <div class="myTicket-part1">
                <div class="myTicket-qr">
                  <img src="assets/images/DUMMY/qr.PNG" alt="" class="image">
                </div>
                <div class="myTicket-user">
                  <h3 class="myTicket-user-name">محمد ابو سليمان
                  </h3>
                  <p class="myTicket-user-phone">966502729394
                  </p>
                  <p class="myTicket-user-email">s@s.sa
                  </p>
                </div>
              </div>
              <div class="myTicket-partSeparator">
                <div class="myTicket-partSeparator-line">

                </div>
              </div>
              <div class="myTicket-part2">
                <h3 class="myTicket-name">تذكره ذهبيه
                </h3>
                <p class="myTicket-price">٣٠ ريال
                </p>
                <button type="button" class="btn myTicket-downloadBtn">
                  <i class="fas fa-cloud-download-alt"></i>
                  تحميل الفاتوره

                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
