.l-homeAbout { 
  padding: 100px 0px;
  color: $light;
  
  background: image('home/about-us.svg') center/cover no-repeat $secondary ;
}
.homeAbout {
  &-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
  }
  &-desc{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  &-cover{
    width: 85%;
  }
  &-socialLinks{
    padding: 50px 0;

  }
  &-socialTitle{
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
  }
  &-icon{
    color: $light;
    font-size: 35px;
    margin-left: 10%;
  }
}
