.l-homeChampionships {
  background-color: $light;
  background: linear-gradient(270deg, $primary 1.37%, #242122 100%);
  padding: 100px 0px;
  color: $light;
}


.homeChampionships {
  &-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  &-card{
    box-shadow: 0 4px 8px 0 rgba(15,40,55,0.1);
    background-color: $primary;
    padding: 30px 25px 30px 40px;
    overflow: auto;
    margin-bottom: 25px;
    border-radius: 8px;
  }
  &-details{
    display: inline-block;
  }
  &-num{
    font-size: 78px;
    font-weight: bold;
    text-shadow: -5px 0px 3px $black;
  }
  &-name{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
  }
 &-cupImg{
   width: 110px;
   float: #{$right};
 }
}
