<section class="l-reserveTicketWizard">
  <div class="container">
    <!-- --------------------------------------------------------------------- -->

    <div class="matchCard  matchCard-horizontal">

      <div class="matchCard-content">
        <div class="row text-center">
          <div class="col-3">
            <div class="matchCard-logo">
              <img src="assets/images/DUMMY/alfaisaly-logo.png" alt="" class="image">
            </div>
            <h5 class="matchCard-club">الفيصلي</h5>

            <!-- <p class="matchCard-goals">3</p> -->

          </div>

          <div class="col-6">
            <div class="matchCard-vsLabel">
              <span class="matchCard-dash">-</span>
              <span class="matchCard-status">القادمة </span>
              <span class="matchCard-dash">-</span>
            </div>
            <p class="matchCard-tournamentName ">كأس خادم الحرمين الشريفين</p>

          </div>

          <div class="col-3">
            <div class="matchCard-logo">
              <img src="assets/images/DUMMY/alnassr_logo.png" alt="" class="image">
            </div>
            <h5 class="matchCard-club">النصر</h5>

            <!-- <p class="matchCard-goals">2</p> -->

          </div>


        </div>
      </div>
      <div class="matchCard-footer">
        <p class="matchCard-footer-stadiumName">
          <img src="assets/images/icons/stadium.svg" alt="" class="icon">
          ملعب مرسول بارك

        </p>
        <p class="matchCard-footer-date">
          <img src="assets/images/icons/calendar.svg" alt="" class="icon">
          April 27,2021 |
          01:38
          AM</p>
      </div>
    </div>

    <!-- =================================================================== -->
    <!-- ==========================[ Wizard ]======================= -->
    <div class="reserveTicketWizard">
      <div class="reserveTicketWizard-tabs">
        <h1 class="reserveTicketWizard-title">احجز تذكرتك
        </h1>
        <p class="reserveTicketWizard-desc">أنت على بعد دقائق من الحصول على التذاكر الخاصة بك. يرجى ملء الخطوات أدناه
        </p>
        <ul class="reserveTicketWizard-items">
          <!-- steps titles  -->
          <li *ngFor="let title of ['selectClub', 'chooseTicket', 'info', 'review', 'payment'];let idx=index"
            class="  reserveTicketWizard-item" [ngClass]="{'active': idx === currentStep}">
            <p class="reserveTicketWizard-step">
              <span class="number">{{idx + 1}} </span>
            </p>
            <span class="reserveTicketWizard-label">{{"reserveTicket." + title | translate }}</span>
          </li>
        </ul>
      </div>
      <div class="reserveTicketWizard-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="reserveTicketWizard-footer">
      <button type="button" class="btn reserveTicketWizard-prevBtn">
        <i class="fas fa-long-arrow-alt-right mr-3 align-middle"></i>
        {{"general.previous" | translate }}
      </button>
      <button type="button" class="btn btn-primary reserveTicketWizard-nextBtn ">
        {{"general.next" | translate }}
        <i class="fas fa-long-arrow-alt-left ml-3 align-middle"></i>
      </button>
    </div>

    <!-- --------------------------------------------------------------------- -->
  </div>
</section>
