
<section class="l-selectClub">
  <div class="container">
    <div class="selectClub-wrapper">

      <h2 class="reserveTicketWizard-content-title">حدد ناديك</h2>

      <div class="selectClub">

        <div class="row">

          <div class="col-12 col-md-4">
            <div class="selectClub-card">
              <div class="selectClub-logo">
                <img src="assets/images/DUMMY/alfaisaly-logo.png" class="image" alt="">
              </div>
              <h3 class="selectClub-name">الفيصلي</h3>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="selectClub-card">
              <div class="selectClub-logo">
                <img src="assets/images/DUMMY/Hilal-logo.png" class="image" alt="">
              </div>
              <h3 class="selectClub-name">الهلال</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
