<div class="matchCard-wrapper">
  <div class="matchCard  ">

    <div class="matchCard-content">
      <div class="row ">
        <div class="col-4">
          <div class="matchCard-logo">
            <img src="assets/images/hero/new-logo.webp" alt="" class="image">
          </div>
          <h5 class="matchCard-club">الفيصلي</h5>

          <p class="matchCard-goals">3</p>

        </div>

        <div class="col-4">
          <div class="matchCard-vsLabel">
            <span class="matchCard-dash">-</span>
            <span class="matchCard-status">القادمة </span>
            <span class="matchCard-dash">-</span>
          </div>
          <p class="matchCard-status text-danger ">كأس خادم الحرمين الشريفين</p>

        </div>

        <div class="col-4">
          <div class="matchCard-logo">
            <img src="assets/images/hero/alnassr_logo.webp" alt="" class="image">
          </div>
          <h5 class="matchCard-club">النصر</h5>

          <p class="matchCard-goals">2</p>

        </div>


      </div>
    </div>
    <div class="matchCard-footer">
      <p class="matchCard-footer-title"> كأس خادم الحرمين الشريفين <span class="matchCard-footer-date">April 27,2021 |
          01:38
          AM</span></p>
    </div>
  </div>

  <button class="btn btn-primary matchCard-reserveBtn">
    <i class="fas fa-ticket-alt"></i>
    احجز تذكرتك
  </button>

</div>
