<section class="l-review">
  <!-- Reveiw  -->
  <div class="review">
    <h2 class="reserveTicketWizard-content-title">مراجعة الطلب</h2>

    <!-- Personal Details -->
    <div class="review-personalDetails">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="review-name">
            <h4 class="review-label">الاسم</h4>
            <h4 class="review-details">محمد أبو سليمان</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="review-phone">
            <h4 class="review-label">رقم الجوال</h4>
            <h4 class="review-details">966520123123</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="review-email">
            <h4 class="review-label">البريد الإلكتروني</h4>
            <h4 class="review-details">abosolimanmas123@gmail.com</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Review Visitor -->
    <div class="review-visitor">
      <h2 class="review-title">مراجعة بيانات الزوار</h2>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="review-ticket">
            <div class="review-nameVisitor">
              <h4 class="review-label">الاسم</h4>
              <h4 class="review-details">محمد أبو سليمان</h4>
            </div>

            <div class="vertical-line-dashed review-dashed"></div>

            <div class="review-ticketVisitor">
              <h4 class="review-label">التذكرة</h4>
              <h4 class="review-details">دخول المباراة</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="review-ticket">
            <div class="review-nameVisitor">
              <h4 class="review-label">الاسم</h4>
              <h4 class="review-details">محمد أبو سليمان</h4>
            </div>

            <div class="vertical-line-dashed review-dashed"></div>

            <div class="review-ticketVisitor">
              <h4 class="review-label">التذكرة</h4>
              <h4 class="review-details">دخول المباراة</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Review Payment -->
    <div class="review-payment">
      <h2 class="review-title">مراجعة بيانات الزوار</h2>

      <div class="row">

        <div class="col-6 col-md-3">
          <div class="review-paymentDetails">
            <h4 class="review-paymentlabel">الكمية</h4>
            <h4 class="review-paymentNum">2</h4>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="review-paymentDetails">
            <h4 class="review-paymentlabel">الإجمالي</h4>
            <h4 class="review-paymentNum">30 ريال</h4>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="review-paymentDetails">
            <h4 class="review-paymentlabel">الخصم</h4>
            <h4 class="review-paymentNum">12 ريال</h4>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="review-paymentDetails">
            <h4 class="review-paymentlabel">الضريبة</h4>
            <h4 class="review-paymentNum">0 ريال</h4>
          </div>
        </div>

      </div>
      <div class="review-total">
        <h2 class="review-all">المجموع</h2>
        <h2 class="review-sum">140 ريال</h2>
      </div>

    </div>
  </div>
</section>
