<section class="l-review">
  <div class="container">

    <div class="review">

      <h2 class="reserveTicketWizard-content-title">مراجعة الطلب</h2>

      <div class="review-personalDetails">

        <div class="row">

          <div class="col-12 col-md-4">
            <div class="review-name">
              <h4 class="review-label">الاسم</h4>
              <h4 class="review-details">محمد أبو سليمان</h4>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="review-phone">
              <h4 class="review-label">رقم الجوال</h4>
              <h4 class="review-details">+966520123123</h4>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="review-email">
              <h4 class="review-label">البريد الإلكتروني</h4>
              <h4 class="review-details">abosolimanmas123@gmail.com</h4>
            </div>
          </div>

        </div>
      </div>

      <div class="review-visitor">
        <h2 class="review-title">مراجعة بيانات الزوار</h2>

        <div class="row">
          <div class="col-12 col-md-6">

            <div class="review-nameVisitor">
              <h4 class="review-label">الاسم</h4>
              <h4 class="review-details">محمد أبو سليمان</h4>
            </div>
            <div class="review-ticketVisitor">
              <h4 class="review-label">التذكرة</h4>
              <h4 class="review-details">دخول المباراة</h4>
            </div>

          </div>

          <div class="col-12 col-md-6">

            <div class="review-nameVisitor">
              <h4 class="review-label">الاسم</h4>
              <h4 class="review-details">محمد أبو سليمان</h4>
            </div>
            <div class="review-ticketVisitor">
              <h4 class="review-label">التذكرة</h4>
              <h4 class="review-details">دخول المباراة</h4>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</section>
