<section class="l-homeContact">
  <div class="container">
    <div class="homeContact-wrapper">
      <div class="homeContact">
        <h2 class="homeContact-title text-center">
          تواصل معنا
        </h2>

        <form>

          <div class="row mb-3">

            <div class="col-12 col-md-6">

              <div class="form-group">
                <label for="disabledTextInput">الاسم</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="اكتب الاسم هنا">
              </div>
              <div class="form-group">
                <label for="disabledTextInput">البريد الإلكتروني</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="EX:example@example.com">
              </div>
              <div class="form-group">
                <label for="disabledTextInput">رقم الجوال</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="رقم الجوال">
              </div>

            </div>

            <div class="col-12 col-md-6">

              <div class="form-group">
                <label for="disabledTextInput">عنوان الرسالة</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="اترك عنوان الرسالة هنا">
              </div>
              <div class="form-group">
                <label for="disabledTextInput">الرسالة</label>
                <textarea type="text" id="disabledTextInput" class="form-control" style="
                height: 174px;
            "
                  placeholder="اترك رسالتك"></textarea>
              </div>

            </div>

          </div>

          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary homeContact-btn">ارسال</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>
