<section class="l-homeSponsors">
  <div class="container">

    <div class="homeSponsors">
      <div class="homeSponsors-title">
        رعاة الفريق
      </div>

      <div class="row">

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/arasco.png" class="homeSponsors-image" alt="">
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/gree.png" class="homeSponsors-image" alt="">
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/roco.png" class="homeSponsors-image" alt="">
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/yelo.png" class="homeSponsors-image" alt="">
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/physio.png" class="homeSponsors-image" alt="">
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="homeSponsors-logo">
            <img src="assets/images/home/arasco.png" class="homeSponsors-image" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
