<section class="l-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 ">
        <div class="block text-center">


          <img src="assets/images/ticket/ticket-done.PNG" alt="">

          <h2 class="block-title">
            تم شراء تذكرتك بنجاح


          </h2>
          <p class="block-desc">
            تفاصيل التذكرة تم إرسالها على بريدك المسجل



          </p>
          <button type="button" class="btn btn-primary mb-5"> حاول مره اخري
          </button>
          <br>
          <!-- ================================================== -->
          <img src="assets/images/ticket/ticket-error.PNG" alt="">
          <h2 class="block-title">
            فشلت عمليه الحجز


          </h2>
          <p class="block-desc">
            حدث خطا اثناد عمليه الدفع ولم يتم حجز التذاكر الي الان


          </p>
          <button type="button" class="btn btn-primary mb-5"> حاول مره اخري
          </button>

        </div>
      </div>
    </div>
  </div>
</section>
