<section class="l-homeAbout">
  <div class="container">
    <div class="homeAbout">
      <h2 class="homeAbout-title text-center">عن الفريق</h2>
      <p class="homeAbout-desc text-center">تمتع بمشاهدة مباريات الفريق من الاستاد وعيش اللحظة</p>

      <div class="row">

        <div class="col-12 col-md-6">
          <img src="assets/images/home/AboutImag.png" class="homeAbout-cover" alt="">
        </div>

        <div class="col-12 col-md-6">
          <p class="homeAbout-desc"> أسس شباب حرمة عام 1374 هـ النادي الفيصلي بإسم ( نادي شباب حرمة ) وكان على رأسهم الشيخ إبراهيم بن ناصر المدلج ومجموعة من الشباب والذين كانوا يتميزون بالنشاط والمثابرة حيث كانت المهرجانات والإحتفالات التي كان يشارك فيها الجميع ، ورأس نادي شباب حرمة الشيخ إبراهيم بن ناصر المدلج كأول رئيس للنادي .
            تقع مدينة حرمة شمال مدينة الرياض على امتداد طريق الرياض – القصيم السريع , وهي إحدى المدن التابعة لمنطقة سدير , وتبعد عن الرياض بما يقارب 180كم
          </p>

          <div class="homeAbout-socialLinks">
            <h4 class="homeAbout-socialTitle">تابع اخبار الفريق علي مواقع التواصل</h4>
            <a href="#" class="homeAbout-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="homeAbout-icon"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="homeAbout-icon"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
