<footer class=" footer">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="footer-logo">
              <div class="footer-logo-cover">
                  <img src="assets/images/logo.svg" alt="" class="image">
              </div>
              <div class="footer-logo-details">
                <p class="label">
                  نادي
                </p>
                <p class="name">
                  الفصيلي السعودي
                </p>
              </div>
      
            </div>
            <p class="footer-copyright">
              جميع الحقوق محفوظة لنادي الفيصلي 2021
            </p>
          </div>
          <div class="col-12 col-md-7">
            <div class="footer-links">
      
              <ul class="footer-nav">
                <li class="nav-item">
                  <h3 class="footer-nav-title">
                    روابط سريعه
                  </h3>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    الرئيسيه
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    مباريات الفريق
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    عن الفريق
      
      
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    تواصل معنا
                  </a>
                </li>
              </ul>
              <ul class="footer-nav">
                <li class="nav-item">
                  <h3 class="footer-nav-title">
                    روابط سريعه
                  </h3>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    الرئيسيه
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    مباريات الفريق
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    عن الفريق
      
      
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    تواصل معنا
                  </a>
                </li>
              </ul>
              <ul class="footer-nav">
                <li class="nav-item">
                  <h3 class="footer-nav-title">
                    روابط سريعه
                  </h3>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    الرئيسيه
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    مباريات الفريق
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    عن الفريق
      
      
      
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    تواصل معنا
                  </a>
                </li>
              </ul>
            </div>
      
          </div>
    </div>
  </div>

</footer>
