<section class="l-homeChampionships ">
  <div class="container">

    <div class="homeChampionships">

      <h2 class="homeChampionships-title text-center">بطولات الفريق</h2>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="homeChampionships-card">
            <div class="homeChampionships-details">
              <h2 class="homeChampionships-num">9</h2>
              <h3 class="homeChampionships-name">كأس الملك</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="homeChampionships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="homeChampionships-card">
            <div class="homeChampionships-details">
              <h2 class="homeChampionships-num">2</h2>
              <h3 class="homeChampionships-name">أبطال آسيا</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="homeChampionships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="homeChampionships-card">
            <div class="homeChampionships-details">
              <h2 class="homeChampionships-num">8</h2>
              <h3 class="homeChampionships-name">بطل الدوري</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="homeChampionships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="homeChampionships-card">
            <div class="homeChampionships-details">
              <h2 class="homeChampionships-num">6</h2>
              <h3 class="homeChampionships-name">كأس ولي العهد</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="homeChampionships-cupImg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
