<section class="l-championships">
  <div class="container">

    <div class="championships">

      <h2 class="championships-title text-center">بطولات الفريق</h2>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="championships-card">
            <div class="championships-details">
              <h2 class="championships-num">9</h2>
              <h3 class="championships-name">كأس الملك</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="championships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="championships-card">
            <div class="championships-details">
              <h2 class="championships-num">2</h2>
              <h3 class="championships-name">أبطال آسيا</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="championships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="championships-card">
            <div class="championships-details">
              <h2 class="championships-num">8</h2>
              <h3 class="championships-name">بطل الدوري</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="championships-cupImg" alt="">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="championships-card">
            <div class="championships-details">
              <h2 class="championships-num">6</h2>
              <h3 class="championships-name">كأس ولي العهد</h3>
            </div>
            <img src="assets/images/home/cup-image.png" class="championships-cupImg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
