<section class="hero">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="hero-label">
          نادي

        </h2>
        <h1 class="hero-title">
          الفصيلي السعودي

        </h1>
        <p class="hero-desc">
          أسس شباب حرمة عام 1374 هـ النادي الفيصلي بإسم ( نادي شباب حرمة ) وكان على رأسهم الشيخ إبراهيم بن ناصر المدلج
          ومجموعة من الشباب والذين كانوا يتميزون بالنشاط والمثابرة حيث كانت المهرجانات والإحتفالات التي كان يشارك فيها
          الجميع ، ورأس نادي شباب حرمة الشيخ إبراهيم بن ناصر المدلج كأول رئيس للنادي .
          تقع مدينة حرمة شمال مدينة الرياض على امتداد طريق الرياض – القصيم السريع , وهي إحدى المدن التابعة لمنطقة سدير
          , وتبعد عن الرياض بما يقارب 180كم

        </p>
        <button class="btn hero-contactusBtn"> تواصل معنا</button>
      </div>
      <div class="col-12 col-md-6">
        <app-match-card></app-match-card>
      </div>
    </div>
  </div>
</section>
