<section class="l-homeTeamMatches">
  <div class="container">
    <div class="homeTeamMatches">
        <h1 class="homeTeamMatches-title">
            مباريات الفريق
          </h1>
          <p class="homeTeamMatches-desc">
            تمتع بمشاهده مباريات الفريق من الاستاد وعيش اللحظه.
      
          </p>
          <!-- <div class="homeTeamMatches-controls">
            <button type="button" class="btn btn-primary homeTeamMatches-controls-peviousBtn">السابق</button>
            <button type="button" class="btn btn-primary homeTeamMatches-controls-nextBtn">التالي</button>
          </div> -->
      
      
          <div class="homeTeamMatches-matchs">
              <app-match-card></app-match-card>
          </div>
    </div>
  </div>
</section>
